<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
      <p>&copy; {{ currentYear }} Your Name. All rights reserved.</p>
  
      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank" class="mx-2"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="https://twitter.com" target="_blank" class="mx-2"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="https://linkedin.com" target="_blank" class="mx-2"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://github.com" target="_blank" class="mx-2"><fa-icon [icon]="faGithub"></fa-icon></a>
      </div>
    </div>
  </footer>
  