<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
      <p>&copy; {{ currentYear }} Som Nath. All rights reserved.</p>
  
      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/som-69919b1ab/" target="_blank" class="mx-2"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://github.com/Som-Nath1997" target="_blank" class="mx-2"><fa-icon [icon]="faGithub"></fa-icon></a>
      </div>
    </div>
  </footer>
  